body
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh
  overflow: hidden

*
  box-sizing: border-box






.containerBoole
  position: relative
  height: 100vh
  width: 100vw
  $sectionColor: #0F68A1

  .top
    position: absolute
    top: 0
    height: 180px
    width: 100%
    background-color: $sectionColor

  .right
    position: absolute
    right: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor

  .bottom
    position: absolute
    bottom: 0px
    height: 180px
    width: 100%
    background-color: $sectionColor

  .left
    position: absolute
    left: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor









.containerSudco
  position: relative
  height: 100vh
  width: 100vw
  $sectionColor: #EDDC36

  .top
    position: absolute
    top: 0
    height: 180px
    width: 100%
    background-color: $sectionColor

  .right
    position: absolute
    right: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor

  .bottom
    position: absolute
    bottom: 0px
    height: 180px
    width: 100%
    background-color: $sectionColor

  .left
    position: absolute
    left: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor










.containerLaNacion
  position: relative
  height: 100vh
  width: 100vw
  $sectionColor: #63604F

  .top
    position: absolute
    top: 0
    height: 180px
    width: 100%
    background-color: $sectionColor

  .right
    position: absolute
    right: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor

  .bottom
    position: absolute
    bottom: 0px
    height: 180px
    width: 100%
    background-color: $sectionColor

  .left
    position: absolute
    left: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor









.containerShortFilm
  position: relative
  height: 100vh
  width: 100vw
  $sectionColor: #09131E

  .top
    position: absolute
    top: 0
    height: 180px
    width: 100%
    background-color: $sectionColor

  .right
    position: absolute
    right: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor

  .bottom
    position: absolute
    bottom: 0px
    height: 180px
    width: 100%
    background-color: $sectionColor

  .left
    position: absolute
    left: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor











.containerSyria
  position: relative
  height: 100vh
  width: 100vw
  $sectionColor: #463C3C

  .top
    position: absolute
    top: 0
    height: 180px
    width: 100%
    background-color: $sectionColor

  .right
    position: absolute
    right: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor

  .bottom
    position: absolute
    bottom: 0px
    height: 180px
    width: 100%
    background-color: $sectionColor

  .left
    position: absolute
    left: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor









.containerComicBook
  position: relative
  height: 100vh
  width: 100vw
  $sectionColor: #A0BBBA

  .top
    position: absolute
    top: 0
    height: 180px
    width: 100%
    background-color: $sectionColor

  .right
    position: absolute
    right: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor

  .bottom
    position: absolute
    bottom: 0px
    height: 180px
    width: 100%
    background-color: $sectionColor

  .left
    position: absolute
    left: 0px
    height: 100%
    width: 510px
    background-color: $sectionColor
