body
  margin: 0
  padding: 0

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased


.generalContainer
  width: 100vw
  height: 20000px
  border: 25px solid white
  // background-color: #ECF3F3
  background-color: #ECF3F3
  display: flex
  justify-content: center
  align-items: center

  .gridContainer
    width: 950px
    height: 110%
    z-index: 1
    display: flex

    .profileImage
      position: absolute
      top: 120px
      margin-left: 169px
      width: 690.9px
      height: 500px
      background-color: white
      z-index: 20
      box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)
      background:
        image: url('')
        size: cover
        repeat: no-repeat
        position: center

      .juan
        position: absolute
        top: -160px
        margin-left: 295px
        font:
          size: 125px
          family: 'Shadows Into Light', cursive
        color: #252525

      .salvatore
        position: absolute
        top: -50px
        margin-left: 453px
        font:
          size: 125px
          family: 'Shadows Into Light', cursive
        color: #252525

      p
        position: relative
        left: -79.5px
        top: 200px
        font-family: 'Roboto', sans-serif
        line-height: 48px
        letter-spacing: 0.5px
        width: 280px

    h1
      position: absolute
      top: -123px
      font-family: helvetica
      font-size: 229px
      margin-left: 4px
      color: #F6F9F9

    .two
      position: absolute
      top: 773px
      font-family: helvetica
      font-size: 209px
      margin-left: 636px
      color: #F6F9F9

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
      border: 1px solid white
      opacity: 0.5
      flex-grow: 1
      margin: 0 10px 0 10px

.sudcoSection
  position: absolute
  top: 860px
  margin-left: 89px;
  width: 613.8px;
  height: 360px
  background-color: #FFE700
  box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)

  span
    position: absolute
    left: 530px
    top: 350px
    width: 200px
    transform: scale(1.5)
    button
    	padding: 20px 40px
    	background: none
    	border: none
    	position: relative
    	text-transform: uppercase
    	font-weight: bold
    	letter-spacing: 3px
    	cursor: pointer
    	&:after, &:before
    		content: ''
    		position: absolute
    		top: 0
    		left: 0
    		bottom: 0
    		right: 0
    		border: 2px solid #000
    		transition: transform .2s
    	&:after
    		transform: translate(3px, 3px)
    	&:before
    		transform: translate(-3px, -3px)
    	&:hover
    		&:after, &:before
    			transform: translate(0)

  p
    position: relative
    left: -78.5px
    top: 200px
    font-family: 'Roboto', sans-serif
    line-height: 48px
    letter-spacing: 0.5px
    width: 240px

.fish
  position: absolute
  top: 750px
  margin-left: 11px
  width: 533px
  height: auto

.booleSection
  position: absolute
  top: 1560px
  margin-left: 169px;
  width: 612px;
  height: 400px
  background-color: #2D9FE3
  box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)

  span
    position: absolute
    left: -25px
    top: 350px
    width: 200px
    transform: scale(1.5)
    button
    	padding: 20px 40px
    	background: none
    	border: none
    	position: relative
    	text-transform: uppercase
    	font-weight: bold
    	letter-spacing: 3px
    	cursor: pointer
    	&:after, &:before
    		content: ''
    		position: absolute
    		top: 0
    		left: 0
    		bottom: 0
    		right: 0
    		border: 2px solid #000
    		transition: transform .2s
    	&:after
    		transform: translate(3px, 3px)
    	&:before
    		transform: translate(-3px, -3px)
    	&:hover
    		&:after, &:before
    			transform: translate(0)

  img
    position: relative
    top: -70px
    left: 260px
    width: 450px

  p
    position: relative
    left: 396px
    top: -50px
    font-family: 'Roboto', sans-serif
    line-height: 48px
    letter-spacing: 0.5px
    width: 335px

.three
  position: absolute
  top: 1293px
  font-family: helvetica
  font-size: 209px
  margin-left: 5px
  color: #F6F9F9


.laNacionSection
  position: absolute
  top: 2260px
  margin-left: 249px;
  width: 612px;
  height: 300px
  background-color: white
  box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)
  background:
    image: url('')
    size: cover
    repeat: no-repeat
    position: center

  span
    position: absolute
    left: 449px
    top: 290px
    width: 200px
    transform: scale(1.5)
    button
    	padding: 20px 40px
    	background: none
    	border: none
    	position: relative
    	text-transform: uppercase
    	font-weight: bold
    	letter-spacing: 3px
    	cursor: pointer
    	&:after, &:before
    		content: ''
    		position: absolute
    		top: 0
    		left: 0
    		bottom: 0
    		right: 0
    		border: 2px solid #000
    		transition: transform .2s
    	&:after
    		transform: translate(3px, 3px)
    	&:before
    		transform: translate(-3px, -3px)
    	&:hover
    		&:after, &:before
    			transform: translate(0)

  img
    position: absolute
    width: 450px
    top: 160px
    left: -80px

  p
    position: relative
    left: 394px
    top: -65px
    font-family: 'Roboto', sans-serif
    line-height: 48px
    letter-spacing: 0.5px
    width: 285px

.four
  position: absolute
  top: 1993px
  font-family: helvetica
  font-size: 209px
  margin-left: 83px
  color: #F6F9F9

.csSection
  position: absolute
  top: 2860px
  margin-left: 169px;
  width: 612px;
  height: 500px
  background-color: white
  box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)


  .videoCs
    position: absolute
    top: 40px
    left: -158px
    width: 512px
    height: 300px
    background-color: white
    box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)

    .youtube-player
      position: relative
      width: 512px
      height: 300px

  p
    position: relative
    left: 475px
    top: 135px
    font-family: 'Roboto', sans-serif
    line-height: 48px
    letter-spacing: 0.5px
    width: 285px
  span
    position: absolute
    left: 212px
    top: 490px
    width: 200px
    transform: scale(1.5)
    button
    	padding: 20px 40px
    	background: none
    	border: none
    	position: relative
    	text-transform: uppercase
    	font-weight: bold
    	letter-spacing: 3px
    	cursor: pointer
    	&:after, &:before
    		content: ''
    		position: absolute
    		top: 0
    		left: 0
    		bottom: 0
    		right: 0
    		border: 2px solid #000
    		transition: transform .2s
    	&:after
    		transform: translate(3px, 3px)
    	&:before
    		transform: translate(-3px, -3px)
    	&:hover
    		&:after, &:before
    			transform: translate(0)

.five
  position: absolute
  top: 2693px
  font-family: helvetica
  font-size: 209px
  margin-left: 716px
  color: #F6F9F9

.audiovisualSection
  position: absolute
  top: 3660px
  margin-left: 89px;
  width: 613px;
  height: 400px
  background-color: white
  box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)

  p
    position: relative
    left: -79px
    top: 10px
    font-family: 'Roboto', sans-serif
    line-height: 48px
    letter-spacing: 0.5px
    width: 335px

  img
    position: absolute
    width: 250px
    box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)
    left: 398px
    top: 100px

.six
  position: absolute
  top: 3713px
  font-family: helvetica
  font-size: 209px
  margin-left: 636px
  color: #F6F9F9

.comicSection
  position: absolute
  top: 4360px
  margin-left: 89px;
  width: 613px;
  height: 400px
  background-color: white
  box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)

  p
    position: relative
    left: -79px
    top: 192px
    font-family: 'Roboto', sans-serif
    line-height: 48px
    letter-spacing: 0.5px
    width: 305px

  img
    position: absolute
    width: 500px
    left: 317px
    top: -70px
    box-shadow: 1px 90px 180px -30px rgba(20,39,48,0.3)

.seven
  position: absolute
  top: 4013px
  font-family: helvetica
  font-size: 209px
  margin-left: 5px
  color: #F6F9F9
